In [1]:
import camelot
import numpy as np
import pandas as pd

In [2]:
tables = camelot.read_pdf('wyoming.pdf', pages = '1,2,3,4,5')

In [3]:
df = pd.DataFrame()

for table in tables:
    df = pd.concat([df, table.df], axis = 0)
    
df = df.reset_index(drop = True)

In [4]:
# task 1
df = df.drop(index=df.index[0], columns=df.columns[0]).reset_index(drop = True)

In [5]:
# task 2
df = df.replace('\n', ' ', regex=True)

In [6]:
# task 3
df.columns = df.iloc[0]  # Set the first row as column headers
df = df[1:]

In [7]:
# task 4
df["TT or TH Sample ID"] = df["TT or TH Sample ID"].replace("", None)
df["TT or TH Sample ID"] = df["TT or TH Sample ID"].fillna(method = "ffill")

In [8]:
# task 5 - manually impute the last two rows
col_names = df.columns
new_row1 = {
    col_names[0]: "WW-9",
    col_names[1]: "Aug-21",
    col_names[2]: "ND",
    col_names[3]: 25,
    col_names[4]: 25
}
new_row2 = {
    col_names[0]: "WW-9",
    col_names[1]: "May-22",
    col_names[2]: 1.0,
    col_names[3]: 14,
    col_names[4]: 15
}
df = df.reset_index(drop = True)
df.loc[len(df)] = new_row1
df.loc[len(df)] = new_row2

In [9]:
df.to_csv("wyoming.csv")